/* Coolors Exported Palette - coolors.co/000000-eeeeee-ffffff-454955-f3eff5 */

/* HSL */
// $color1: hsla(0%, 0%, 0%, 1);
// $color2: hsla(0%, 0%, 93%, 1);
// $color3: hsla(0%, 0%, 100%, 1);
// $color4: hsla(225%, 10%, 30%, 1);
// $color5: hsla(280%, 23%, 95%, 1);

/* RGB */
$black: rgba(0, 0, 0, 1);
$isabelline: rgba(238, 238, 238, 1);
$white: rgba(255, 255, 255, 1);
$outer-space: rgba(69, 73, 85, 1);
$anti-flash-white: rgba(243, 239, 245, 1);
