#background {
  background: image-url("background.jpg");
  min-height: 100vh;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
